.sideBar {
  align-items: flex-start;
  background: var(--Background-Default-Default, #fff);
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  padding: 30px 24px 850px;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-start;
}

.logoIcon {
  align-items: center;
  border-radius: 6px;
  background: var(--primary-purple, #a162f7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 27px; 
  height: 27px; 
  margin: auto 0;
  padding: 0; 
}


.logoInner {
  display: flex;
  min-height: 15px;
  width: 17px;
}

.brandName {
  color: var(--gray-Dark, #1f2128);
  align-self: stretch;
  margin: auto 0;
  font: 700 24px DM Sans, sans-serif;
}

.navItems {
  display: flex;
  margin-top: 35px;
  max-width: 100%;
  width: 174px;
  flex-direction: column;
  color: #5f6165;
  white-space: nowrap;
  justify-content: flex-start;
  font: 500 14px DM Sans, sans-serif;
}

.navItem {
  display: flex;
  border-radius: 6px;
  align-items: center;
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
  text-align: left;
  transition: background-color 0.3s ease;
}

.navItem:hover {
  background-color: #f0f0f0; 
}

.navItemContent {
  display: flex;
  align-items: center;
}

.navIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.navText {
  font-size: 16px;
  color: #333;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

  